<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Include the Heebo Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <!-- Include the Css files-->
    <link rel="stylesheet" href="/assets/css/location.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    
   
    <!-- Including the Bootstrap files-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="./assets/js/socket.js"></script>
    <title>Location Uploader</title>
</head>
<body>

    <div class='header text-styling black header-bg'>
            Header of the Page goes here
    </div>
    <div class='container-fluid no-padding'>
        <div class='location-form-container body-bg'>
            <!-- Form for uplaoding the user lcoation-->
            <span class="loc-form text-styling">
                Organization Notifications
            </span>
            <span class="loc-form-desc text-styling">
                This page allows users to send your location for help
            </span>
            
            <div id="messg">
                
            </div>

        </div>
    </div>
    
</body>
</html>